version: "3.8"
services:
  jenkins:
    image: jenkins/{{ jenkins_master_version }}
    restart: unless-stopped
    ports:
      - "8080:8080"
    env_file: env/jenkins.env
    volumes:
      - ${PWD}/init:/var/jenkins_init
      - jenkins-data:/var/jenkins_home:z
      - jenkins-backup:/var/jenkins_backup:z
    entrypoint:
      - /usr/bin/tini
      - "--"
      - /var/jenkins_init/entrypoint_init.sh
{% if jenkins_master_caddy == true %}
  caddy:
    image: caddy:latest
    restart: unless-stopped
    ports:
      - "80:80" # For HTTP -> HTTPS redirects
      - "443:443"
    volumes:
      - /home/{{ jenkins_master_system_user }}/Caddyfile:/etc/caddy/Caddyfile
{% endif %}
volumes:
  jenkins-data:
    driver: local
  jenkins-backup:
    driver: local
