CASC_JENKINS_CONFIG=/var/jenkins_home/jcasc/
CASC_YAML_MAX_ALIASES="100"
JENKINS_OPTS="--sessionTimeout=1440 --sessionEviction=43200"
JAVA_OPTS=-Djenkins.install.runSetupWizard=false
JENKINS_ADMIN_ID=admin
JENKINS_ADMIN_PASSWORD={{ jenkins_master_password }}