credentials:
  system:
    domainCredentials:
    - credentials:
      - usernamePassword:
          description: "example username and password"
          id: "<id>" 
          password: "<passwword>"
          scope: GLOBAL
          username: "testuser"