jenkins:
  securityRealm:
    local:
      allowsSignup: false
      users:
       - id: ${JENKINS_ADMIN_ID}
         password: ${JENKINS_ADMIN_PASSWORD}
  numExecutors: 0
  quietPeriod: 0
  remotingSecurity:
    enabled: true
  scmCheckoutRetryCount: 3
  systemMessage: "{{ jenkins_master_system_message }}"
  authorizationStrategy:
    roleBased:
      roles:
        global:
        - entries:
          - user: "admin"
          name: "admin"
          pattern: ".*"
          permissions:
          - "Overall/Administer"

