# Configration for Global Tools 
tool:
  dockerTool:
    installations:
    - name: "LATEST"
  git:
    installations:
    - name: "git"
  jdk:
    installations:
    - name: "openJDK"
  mavenGlobalConfig:
    globalSettingsProvider: "standard"
    settingsProvider: "standard"